<div class="card border m-1">
    <div class="card-header">
        <h3><u>Situations par bureau</u></h3>
    </div>
     <div class="table-responsive table-card">
                    <table class="table align-middle table-nowrap" id="customerTable">
                        <thead class="table-light text-muted">
                        <tr>
                            <th scope="col">Bureau</th>
                            <th scope="col">Reference Liq</th>
                            <th scope="col">Quittance</th>
                            <th scope="col">Montant</th>
                        </tr>
                        </thead>
                        <!--end thead-->
                        <tbody class="list form-check-all">
                            @for(situation of situations; track $index){
                            <tr>
                                <td>{{situation.ideCuoCod}}</td>
                                <td>{{situation.ideAstSer}}</td>
                                <td>{{situation.ideRcpSer}}</td>
                                <td>{{situation.finAmtDty | number:'1.0'}}</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <!--end table-->
            </div>
</div>
