<div class="row" id="contactList">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center border-0">
                <div class="flex-shrink-0">
                    <div class="flax-shrink-0 hstack gap-2">
                        <button class="btn btn-primary" (click)="openModal(contentLF,null)">Ajouter</button>
                        <!--<button class="btn btn-soft-info" (click)="openModalImp(contentImpLF,null)">Importer</button>-->
                    </div>
                </div>
            </div>
            <div class="card-body border border-dashed border-end-0 border-start-0">
                <div class="row g-2">
                    <div class="col-xl-4 col-md-4">
                        <input type="month" class="form-control" data-choices data-choices-search-false
                                name="choices-single-default" id="depart" />
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <input type="month" class="form-control" data-choices data-choices-search-false
                                name="choices-single-default" id="fin" />
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <button class="btn btn-success w-100">Filtrer</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-card">
                    <table class="table align-middle table-nowrap" id="customerTable">
                        <thead class="table-light text-muted">
                        <tr>
                            <th class="sort" >Exercice</th>
                            <th class="sort" >Mois</th>
                            <th class="sort" >Quota Annuel</th>
                            <th class="sort" >Quota du mois</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody class="list form-check-all">
                            @for(data of pageData.data; track $index){
                                <tr>
                                    <td class="order_date">{{data.exercice}}</td>
                                    <td class="order_date">{{data.mois}}</td>
                                    <td class="order_date">{{data.quotaAnnuelMontant}}</td>
                                    <td class="order_date">{{data.montant}}</td>
                                    <td>
                                        <a><i class="ri-edit-2-line" (click)="openModal(contentLF,data)"></i></a>
                                        &nbsp;<a><i class="ri-search-eye-line" (click)="openModal(contentVentillation,data)"></i></a>
                                        <!--<a><i class="ri-search-eye-line" (click)="openModal(mensualisationWithVentilation,data)"></i></a>-->
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-md-end align-items-md-center mt-3">
                    <div class="col col-sm-6">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" aria-label="Previous" (click)="precedentPage()" >
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" aria-label="Previous">
                                        {{this.pageData.page.pageNumber+1}}   sur  {{totalPage}}
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"  aria-label="Next" (click)="prochainePage()" >
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col col-sm-6">
                        <div class="text-md-right float-md-end listjs-pagination">
                            <select class="form-select " style="width: auto; height: 2%;" [(ngModel)]="size" (change)="changeSize()">
                                <option  value="10">10 elements par page</option>
                                <option value="30">30 elements par page</option>
                                <option value="50">50 elements par page</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #mensualisationWithVentilation role="document" let-modal >
    <div class="modal-header bg-primary p-3">
        <h5 class="modal-title" id="mensualisationWithVentilation">Formulaire Mensualisation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-mensualisationWithVentilation" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <app-mensualisation-with-ventilisation [innerMensualisation]="outerMensualisation" [unite]="unite"></app-mensualisation-with-ventilisation>
</ng-template>

<ng-template #contentLF role="document" let-modal >
    <div class="modal-header bg-primary p-3">
        <h5 class="modal-title" id="exampleModalLabel">Formulaire Mensualisation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <app-mensualisation-form [innerMensualisation]="outerMensualisation" [unite]="unite"></app-mensualisation-form>
</ng-template>

<ng-template #contentVentillation role="document" let-modal >
    <div class="modal-header bg-primary p-3">
        <h5 class="modal-title" id="exampleModalLabel">Liste de quota mensualisation ventiller par rubrique</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <app-ventillation-list [mensualisation]="outerMensualisation" ></app-ventillation-list>
</ng-template>

<ng-template #contentImpLF role="document" let-modal >
    <div class="modal-header bg-primary p-3">
        <h5 class="modal-title" id="imp">Importation Mensualisation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal-Imp" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <app-lf-import></app-lf-import>
</ng-template>
