<form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
  <div class="container mt-4">
    <!-- Section 1: Déclaration -->
    <div class="card mb-3">
      <div class="card-header">Informations de la déclaration</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <label for="declarationDate">Date de la déclaration</label>
            <input
              type="date"
              id="declarationDate"
              class="form-control"
              formControlName="declarationDate"
            />
          </div>
          <div class="col-md-4">
            <label for="bureau">Bureau</label>
            <input
              type="text"
              id="bureau"
              class="form-control"
              formControlName="bureau"
            />
          </div>
          <div class="col-md-4">
            <label for="numeroBl">Numéro BL</label>
            <input
              type="text"
              id="numeroBl"
              class="form-control"
              formControlName="numeroBl"
              (blur)="getCompany()"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Section 2: Déclarant -->
    <div class="card mb-3">
      <div class="card-header">Informations sur le déclarant</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <label for="declarantCode">Code déclarant</label>
            <input
              type="text"
              id="declarantCode"
              class="form-control"
              formControlName="declarantCode"
            />
          </div>
          <div class="col-md-4">
            <label for="nifCode">Code NIF</label>
            <input
              type="text"
              id="nifCode"
              class="form-control"
              formControlName="nifCode"
            />
          </div>
          <div class="col-md-4">
            <label for="declarationAmount">Montant de la déclaration</label>
            <input
              type="number"
              id="declarationAmount"
              class="form-control"
              formControlName="declarationAmount"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Section 3: Références de paiement -->
    <div class="card mb-3">
      <div class="card-header">Références de paiement</div>
      <div class="card-body">
        <div *ngFor="let payment of payments; let i = index" class="row mb-2">
          <div class="col-md-4">
            <label>Type de paiement</label>
           
            <select id="typePaiement" class="form-select"     [(ngModel)]="payments[i].enumTypePaiement"
            [ngModelOptions]="{standalone: true}">
              <option value="" disabled selected>Sélectionnez...</option>
              <option value="FT">FT</option>
              <option value="FLASH_CASH">FLASH_CASH</option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Référence</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="payments[i].reference"
              [ngModelOptions]="{standalone: true}"
            />
           
          </div>
          <div class="col-md-3">
            <label>Montant</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="payments[i].montant"
              [ngModelOptions]="{standalone: true}"
              (ngModelChange)="updateTotalAmount()"
            />
          </div>
          <div class="col-md-1 d-flex align-items-end">
            <button
              type="button"
              class="btn btn-danger"
              (click)="removePayment(i)"
            >
              X
            </button>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-primary mt-3"
          (click)="addPayment()"
        >
          Ajouter une référence
        </button>
        <div class="mt-3">
          <strong>Montant total de la declaration : </strong> {{ totalAmount |  currency: 'GNF':'':'1.0-0'  }} GNF
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success">Soumettre</button>
  </div>
</form>
