<div class=" mt-4">
  <h4 class="mb-3 text-primary title">Bon de Sortie de la Douane</h4>

  <form [formGroup]="bonSortieForm">
    <div class="row">
      <div class="col-md-3">
        
        <div class="mb-6">
          <div class="form-floating">
            <input type="text" id="numeroBonSortie" class="form-control custom-border" formControlName="numeroBonSortie" placeholder="Name">
            <label for="numeroBonSortie">Numéro Bon de Sortie</label>
          </div>
         
        </div>
      </div>

      <div class="col-md-4">
        <div class="mb-3">
          <div class="form-floating">
            <input type="date" id="dateEmission" class="form-control custom-border" formControlName="dateEmission"   placeholder="Name">
            <label for="dateEmission">Date d'Émission</label>
          </div>
        
        </div>
      </div> 
    </div>
  </form>

  <h5 class="mt-2 text-primary title">Identification des Marchandises</h5>
  <table class="table table-bordered mt-3">
    <thead class="table-primary">
      <tr>
        <th>ID</th>
        <th>Reference Manifeste</th>
        <th>Titre</th>
        <th>Marchandise</th>
        <th>Reference Marchandise</th>
        <th>Nombre Colis</th>
        <th>Type Colis</th>
        <th>Nature Colis</th>
        <th>Poids Brut</th>
        <th>Numero conteneur</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let conteneur of detailBonSortie">
        <td>{{ conteneur.article }}</td>
        <td>{{ conteneur.refManifest }}</td>
        <!-- <td>{{ conteneur.liquidation | currency:'USD' }}</td> -->
        <td>{{ conteneur.titre }}</td>
        <td>{{ conteneur.mark_1 }}</td>
        <td>{{ conteneur.mark_2 }} kg</td>
        <td>{{ conteneur.nbreColis }}</td>
        <td>{{ conteneur.typeColis }}</td>
        <td>{{ conteneur.natureColis }}</td>
        <td>{{ conteneur.nbreColis }}</td>
      </tr>
    </tbody>
  </table>
</div>
