.container {
    margin-top: 20px;
  }
  
  .card {
    border-radius: 0.75rem;
    text-align: center;
  }
  
  .card-header {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-title {
    font-size: 1.5rem;
  }
  