<div class="row">
    <div class="col-xxl-12">
        <!-- <h5 class="mb-3">Light Nav</h5> -->
        <div class="card">
            <div class="card-body">
                <!-- <p class="text-muted">Use <code>nav-custom-light</code> class to lighten the nav tabs area.</p> -->
                <!-- Nav tabs -->
                <ul ngbNav #Light="ngbNav" [activeId]="1" class="nav nav-pills nav-custom nav-custom-light mb-3">
                  <li [ngbNavItem]="1">
                      <a ngbNavLink>
                        Declaration
                      </a>
                      <ng-template ngbNavContent>
                        <div class="mb-1">
                            <app-info-Declaration ></app-info-Declaration>
                        </div>
                        <!-- <p class="mb-0"> Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                            single-origin coffee squid. Exercitation +1 labore velit, blog
                            sartorial PBR leggings next level wes anderson artisan four loko
                            farm-to-table craft beer twee. commodo enim craft beer mlkshk aliquip jean shorts ullamco.</p> -->
                      </ng-template>
                  </li>
                  <li [ngbNavItem]="2">
                      <a ngbNavLink>
                        Bon de sortie
                      </a>
                      <ng-template ngbNavContent>
                        <div class="mb-1">
                            <app-info-bon-sortie [childProperty]="reference"></app-info-bon-sortie>
                        </div>
                       
                      </ng-template>
                  </li>
                  <li [ngbNavItem]="3">
                      <a ngbNavLink>
                        Bon de la compagnie
                      </a>
                      <ng-template ngbNavContent>
                        <div class="mb-1">
                          <app-bon-compagnie></app-bon-compagnie>
                        </div>
                      
                      </ng-template>
                  </li>
                  <li [ngbNavItem]="4">
                    <a ngbNavLink>
                      Bon de bolorer
                    </a>
                    <ng-template ngbNavContent>
                      <div class="mb-1">
                        <app-bon-bolorer></app-bon-bolorer>
                      </div>
                     
                    </ng-template>
                </li>
                </ul>
                <div class="tab-content text-muted">
                  <div [ngbNavOutlet]="Light"></div>
                </div>
            </div><!-- end card-body -->
        </div>
    </div><!--end col-->
</div>