<div class="container mt-4">
    <!-- <h3 class="mb-3"></h3> -->
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Office</th>
          <th>Code declarant</th>
          <th>Entreprise</th>
          <th>Montant</th>
          <th>Reference</th>
          <th>Status</th>
          <th>Utilisateur</th>
          <th>Role</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let status of childProperty; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ status.office  }}</td>
          <td>{{ status.codeDeclarant  }}</td>
          <td>{{ status.codeEntreprise  }}</td>
          <td>{{ status.montant  }}</td>
          <td>{{ status.reference  }}</td>
          <td>{{ status.avis  }}</td>
          <td>{{ status.username }}</td>
          <td>{{ status.role}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
