.echeance-critical {
  background-color: #dc3545 !important; /* Rouge */
  color: white !important;
  font-weight: bold;
}

.echeance-warning {
  background-color: #9a3e3e !important; /* Orange/Jaune */
  color: black !important;
  font-weight: bold;
}