<!-- Formulaire Parametre 
<div class="container mt-5">
  <div class="row g-4">-->
    <!-- Card 1 pour le chargement du fichier csv du FT BCRG accept=".csv"
    <div class="col-md-2 col-sm-6">
      <div class="card h-100 shadow-sm">
        <div class="card-header bg-primary text-white text-center">
          <h5 class="card-title mb-0 text-white">IMPORT FT BCRG</h5>
        </div>
        <div class="card-body text-center">
          <input type="file" class="form-control mb-3"  (change)="onFileSelected($event)" />
          <button type="button" class="btn btn-primary w-100" (click)="upload()">VALIDER</button>
        </div>
      </div>
    </div>-->
    <!-- Card 2 
    <div class="col-md-2 col-sm-6">
      <div class="card h-100 shadow-sm">
        <div class="card-header bg-primary text-white text-center">
          <h5 class="card-title mb-0 text-white">PREVISION</h5>
        </div>
         <div class="card-body text-center">
             <input type="file" class="form-control mb-3"  (change)="onFileSelected($event)" />
          <button type="button" class="btn btn-primary w-100" (click)="upload()">VALIDER</button>
           <p *ngIf="message" [ngClass]="{'success': !isError, 'error': isError}">{{ message }}</p>
       
          </div>
      </div>
    </div>-->
    <!-- Card 3 
    <div class="col-md-2 col-sm-6">
      <div class="card h-100 shadow-sm">
        <div class="card-header bg-primary text-white text-center">
          <h5 class="card-title mb-0">Parametre 3</h5>
        </div>
          <div class="card-body text-center">
          <input type="file" class="form-control mb-3" accept=".csv" (change)="onFileSelected($event)" />
          <button type="button" class="btn btn-primary w-100" (click)="upload()">IMPORTER</button>
       

       
        </div>
      </div>
    </div>-->
    <!-- Card 4 
    <div class="col-md-2 col-sm-6">
      <div class="card h-100 shadow-sm">
        <div class="card-header bg-primary text-white text-center">
          <h5 class="card-title mb-0">Parametre 4</h5>
        </div>-->
        <!--  <div class="card-body text-center">
          <input type="file" class="form-control mb-3" accept=".csv" (change)="onFileSelected($event)" />
          <button type="button" class="btn btn-primary w-100" (click)="upload()">IMPORTER</button>
        </div>
      </div>
    </div>-->

    <!-- Card 5 
    <div class="col-md-2 col-sm-6">
      <div class="card h-100 shadow-sm">
        <div class="card-header bg-primary text-white text-center">
          <h5 class="card-title mb-0">Parametre 5</h5>
        </div>-->
       <!--  <div class="card-body text-center">
          <input type="file" class="form-control mb-3" accept=".csv" (change)="onFileSelected($event)" />
          <button type="button" class="btn btn-primary w-100" (click)="upload()">IMPORTER</button>
        </div>
      </div>
    </div>--> 
     <!-- Card 6 
     <div class="col-md-2 col-sm-6">
      <div class="card h-100 shadow-sm">
        <div class="card-header bg-primary text-white text-center">
          <h5 class="card-title mb-0">Parametre 6</h5>
        </div>-->
       <!--  <div class="card-body text-center">
          <input type="file" class="form-control mb-3" accept=".csv" (change)="onFileSelected($event)" />
          <button type="button" class="btn btn-primary w-100" (click)="upload()">IMPORTER</button>
        </div>
      </div>
    </div>
  </div>
</div>--> 