<!-- transaction.component.html -->
<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Paramètres de la Transaction</legend>
      <div class="form-group">
        <label for="codeDeclarant">Code Déclarant:</label>
        <input id="codeDeclarant" type="text" formControlName="codeDeclarant" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="date">Date:</label>
        <input id="date" type="date" formControlName="date" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="codeNif">Code NIF:</label>
        <input  id="codeNif" type="text" formControlName="codeNif" class="form-control" /> 
      </div>
  
      <div class="form-group">
        <label for="office">Office:</label>
        <input id="office" type="text" formControlName="office" class="form-control">
      </div>
      <div class="form-group">
        <label for="montantTransaction">Montant de la transaction:</label>
        <input id="montantTransaction" type="number" formControlName="montantTransaction" class="form-control">
      </div>
    </fieldset>
  
    <div formArrayName="declarations">
      <div *ngFor="let declaration of declarations.controls; let i=index" [formGroupName]="i">
        <fieldset>
          <legend>Déclaration {{i + 1}}</legend>
          <button type="button" class="btn btn-danger" (click)="removeDeclaration(i)">
            Supprimer la déclaration
          </button>
  
          <div class="form-group">
            <label for="numeroBl-{{i}}">Numéro BL:</label>
            <input id="numeroBl-{{i}}" type="text" formControlName="numeroBl" class="form-control"  (blur)="getCompany(declaration)">
          </div>
  
          <div class="form-group">
            <label for="montantLiquidation-{{i}}">Montant Liquidation:</label>
            <input id="montantLiquidation-{{i}}" type="number" formControlName="montantLiquidation" class="form-control">
          </div>

          <div class="form-group">
            <label for="montantToBePay-{{i}}">Montant payer:</label>
            <input id="montantToBePay-{{i}}" type="number" formControlName="montantToBePay" class="form-control">
          </div>
  
          <div formArrayName="references">
            <fieldset>
              <legend>Références de paiement</legend>
              <button type="button" class="btn btn-secondary" (click)="addReference(declaration)">
                Ajouter une référence
              </button>
  
              <div *ngFor="let ref of getReferences(declaration).controls; let j=index" [formGroupName]="j">
                <div class="reference-group">
                  <button type="button" class="btn btn-danger btn-sm" (click)="removeReference(declaration, j)">
                    Supprimer
                  </button>
  
                  <div class="form-group">
                    <label for="typeRef-{{i}}-{{j}}">Type de Référence:</label>
                    <select id="typeRef-{{i}}-{{j}}" type="text" formControlName="typeReference" class="form-select">
                        <option selected disabled>Choisir un type de-reference</option>
                        <option value="FT">FT</option>
                        <option value="FLASH_CASH">FLASH_CASH</option>
                    </select>
                    <!-- <input id="typeRef-{{i}}-{{j}}" type="text" formControlName="typeReference" class="form-control"> -->
                  </div>
  
                  <div class="form-group">
                    <label for="numRef-{{i}}-{{j}}">Numéro de Référence:</label>
                    <input id="numRef-{{i}}-{{j}}" type="text" formControlName="numeroReference" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="montantRef-{{i}}-{{j}}">Montant:</label>
                    <input id="montantRef-{{i}}-{{j}}" type="number" formControlName="montant" class="form-control">
                  </div>
                
                </div>
              </div>
  
              <div class="total-references">
                Montant payer: {{getSommeReferences(declaration)}}
              </div>
            </fieldset>
          </div>
        </fieldset>
      </div>
    </div>
  
    <button type="button" class="btn btn-primary" (click)="addDeclaration()">
      Ajouter une déclaration
    </button>
  
    <button type="submit" class="btn btn-success" [disabled]="!transactionForm.valid">
      Enregistrer la transaction
    </button>
  </form>